//noinspection CssUnknownTarget
@import "~root/styles/meta";

.MediaCardComponent {
    min-height: 280px;

    .card {
        margin-bottom: 1.5rem;
        overflow: hidden;

        @include transition((margin-top, box-shadow));

        &:hover,
        &:focus {
            text-decoration: none !important;

            margin-top: -2px;
            box-shadow: $box-shadow;

            .card-img-top {
                transform: scale(1.025);
            }
        }

        .card-img-top {
            @include transition(transform);

            transform-origin: bottom;
        }

        .card-title {
            line-height: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}