.PageModalComponent {
    .modal {
        display: flex !important;
        padding-left: 320px;
    }

    .modal-dialog {
        max-width: 1200px;
        max-height: calc(100vh - 100px);
    }

    .modal-body {
        padding: 0;
    }

    .pageModalImage {
        max-width: 1200px;
        max-height: calc(100vh - 100px);
    }
}