//noinspection CssUnknownTarget
@import "~root/styles/meta";

.ComicsComponent {
    .comicItems {
        .comicItem,
        .comicAddItem {
            min-height: 280px;
            margin-bottom: 1.5rem;
        }

        .comicItem {
            overflow: hidden;

            @include transition((margin-top, box-shadow));

            .card-img-top {
                @include transition(transform);

                transform-origin: bottom;
            }

            &:hover,
            &:focus {
                text-decoration: none;

                margin-top: -2px;
                box-shadow: $box-shadow;

                .card-img-top {
                    transform: scale(1.025);
                }
            }
        }

        .comicAddItem {
            height: calc(100% - 1.5rem);
        }
    }
}