//noinspection CssUnknownTarget
@import "~root/styles/meta";

.ComicsComponent {
    .comicItems {
        .comicItem {
            @include transition((margin-top, box-shadow));

            &:hover,
            &:focus {
                text-decoration: none;

                margin-top: -2px;
                box-shadow: $box-shadow;
            }
        }

        .comicItem,
        .comicAddItem {
            min-height: 300px;
            margin-bottom: 1.5rem;
        }
    }
}