//noinspection CssUnknownTarget
@import "~root/styles/meta";

.MainNavComponent {
    width: 320px;
    min-height: 100vh;

    background-color: mix(black, desaturate($primary, 25%), 40%);

    .logoContainer {
        background-color: $primary;

        .brandLogo {
            width: 72px;
            height: 72px;
        }
    }

    .nav {
        .dropdown-divider {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            border-color: transparentize($navbar-dark-color, 0.4);
        }

        .nav-item {
            .nav-link {
                padding: 10px 20px;
                margin: 0 8px;

                color: $navbar-dark-color;

                &:hover {
                    color: $navbar-dark-hover-color;
                }
            }

            &.router-link-active {
                .nav-link {
                    color: $navbar-dark-active-color;
                }
            }
        }
    }
}