//noinspection CssUnknownTarget
@import "~root/styles/meta";

.MediaCardComponent {
    min-height: 320px;

    &.card {
        padding: 0;
        margin-bottom: 1.5rem;
        overflow: hidden;

        align-items: normal !important;

        @include transition((margin-top, box-shadow));

        &:hover,
        &:focus {
            text-decoration: none !important;

            margin-top: -2px;
            box-shadow: $box-shadow;

            .card-img-top {
                transform: scale(1.025);
            }
        }

        .card-img-top {
            flex: 1 1 auto;

            background-position: center;
            background-size: cover;

            @include transition(transform);
            transform-origin: bottom;
        }

        .badge {
            position: absolute;
            top: 0;
            right: 0;

            border-bottom-left-radius: 8px;
        }

        .card-body {
            flex: 0 0 auto;

            .card-title {
                line-height: 1.5rem;
                margin-bottom: 0.25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}