//noinspection CssUnknownTarget
@import "~root/styles/meta";

.MediaCardComponent {
    &.card {
        width: 200px;
        height: 300px;

        padding: 0;
        margin: 0 0.5rem 1.5rem;

        background: $white !important;
        align-items: normal !important;

        @include transition((margin-top, box-shadow));

        .card-img-top {
            flex: 1 1 auto;

            background-position: center;
            background-size: cover;
        }

        .card-body {
            flex: 0 0 auto;

            .card-title {
                line-height: 1.5rem;
                margin-bottom: 0.25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .badge {
            position: absolute;
            top: 0;
            right: 0;

            font-size: 10px;
            padding: 0.4rem 0.8rem;

            border-bottom-left-radius: 8px;
        }

        .selectionBox {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100px;
            padding: 0;

            box-shadow: none;
            border: none;

            .visibleBox {
                position: absolute;
                top: 0;
                left: 0;

                background: $white;
                color: $primary;
                text-align: left;

                width: 36px;
                height: 36px;
                padding: 4px 8px;

                border-bottom-right-radius: 8px;
            }
        }

        &:hover,
        &:active {
            text-decoration: none !important;

            margin-top: -2px;
            box-shadow: $box-shadow;
        }
    }
}