.ImageUploaderComponent {
    .fileInput {
        position: absolute;
        top: 0;
        left: 0;

        width: 0;
        height: 0;

        opacity: 0;
        z-index: -1;
    }

    .imageWrapper {
        position: relative;
        max-width: 360px;
    }

    .MediaAddButtonComponent {
        height: 480px;
    }
}