//noinspection CssUnknownTarget
@import "~root/styles/meta";

.AppComponent {
    .appLayoutContainer {
        min-height: 100vh;
    }

    .appContentContainer {
        display: flex;
        flex-direction: column;

        padding-bottom: 4.5rem;

        background-color: $white;
    }

    .viewContainer {
        flex-grow: 1;
        padding: 1.5rem 1.5rem 3rem;
    }
}
