//noinspection CssUnknownTarget
@import "~root/styles/meta";

.AppComponent {
    .appLayoutContainer {
        min-height: 100vh;
    }

    .appContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .viewContainer {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}
