//noinspection CssUnknownTarget
@import "~root/styles/meta";

.AppComponent {
    .appLayoutContainer {
        min-height: 100vh;
    }

    .appContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-bottom: 4.5rem;

        background-color: mix(white, desaturate($primary, 5%), 95%);
    }

    .viewContainer {
        background-color: $white;

        padding: 1.5rem;
    }
}
