.nav.nav-tabs {
    padding-left: 1rem;
    padding-right: 1rem;

    .nav-item {
        .nav-link {
            padding-left: 3rem;
            padding-right: 3rem;

            font-size: 16px;
        }
    }
}
